<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.apple.keyboarddemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label,allowBackup,theme">
        <activity
            android:name=".keyboard_num.KeyBoardNumberActivity"
            android:label="数字软键盘" />
        <activity
            android:name=".SplashActivity"
            android:label="软键盘项目">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".topic.TopicActivity"
            android:label="话题"
            android:theme="@style/topic" />
        <activity
            android:name=".shelter_aty.ShelterActivity"
            android:theme="@style/NextTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/fullScreen" />
        <activity
            android:name=".SessionActivity"
            android:theme="@style/NextTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Register2Activity"
            android:theme="@style/NextTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".top_dismiss.TopDismissFirstActivity"
            android:theme="@style/topic" />
        <activity
            android:name=".top_dismiss.TopDismissSecondActivity"
            android:theme="@style/topic"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".top_dismiss.TopDismissThirdActivity"
            android:theme="@style/topic"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>